.video-container-wrapper {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .video-container {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
}